.ol-popup-presidential-result {
  position: relative;
  min-width: 350px;
  max-width: 350px;
  min-height: 100px;
  max-height: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  border: 1px solid #cccccc;
  color: black;
}